<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Seyir.Properties.Settings.SeyirHotelConnectionString"
            connectionString="Data Source=215-14\SQLEXPRESS;Initial Catalog=SeyirHotel;User ID=sa;Password=Ibb2022#!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>